body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background-color: #B0AAD1;
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center
}

h5{
  margin: 0
}

.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}

#progress-header{
  display: flex;
  justify-content: space-around;
}
#players-health{ 
  position: relative;
  height: 20px; 
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

#enemy-health{ 
  position: relative;
  height: 20px; 
  width: 350px;
  border-radius: 50px;
  border: 1px solid rebeccapurple;
}

#players-stress{ 
  position: relative;
  height: 20px; 
  width: 150px;
  border-radius: 50px;
  border: 1px solid #333;
}

.status-box{
  box-sizing: content-box;  
  width: 375px;
  height: 75px;
  padding: 7px; 
  border: 5px solid black;
}

.filler {
  background: #1AD598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in; 
}
.enemy-filler {
  background: #1AD598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in; 
}


.SB-filler{
  background: rgb(213, 38, 26);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  transition: width .2s ease-in; 
}

h4{
  margin: 0
}

.ultralightBeam{
  height: 4px;
  width: 4px;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #f0f, /* middle magenta */
  0 0 140px 90px #0ff; /* outer cyan */
}

.ultralightBeamWave{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  width: 500px;
  height: 50px;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #f0f, /* middle magenta */
  0 0 140px 90px #0ff; /* outer cyan */
} 

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ghostBeam{
  height: 60px;
  width: 60px;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #ECEAB0
  0 0 140px 90px  #ACD198 /* outer cyan */
}

.ghostBeamWave{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  width: 500px;
  height: 50px;
  box-shadow:
  0 0 60px 30px #fff,  /* inner white */
  0 0 100px 60px #ECEAB0
  0 0 140px 90px  #ACD198 /* outer cyan */
} 




